
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>"Экспертная система [EGH] </title>
    @*<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>*@
</head>
<body>
    <h1> EGH - Экспертная система</h1>
    <div style="border:solid"> 
        <section>
            <article>
                @Html.ActionLink("EGHRGE - Реабилитация геологической среды", "Index", "EGHRGE")
            </article>
            <article>
                @Html.ActionLink("EGHCEQ - Соответствие качества сред", "Index", "EGHCEQ")
            </article>
            <article>
                @Html.ActionLink("EGHGEA - Оценка геологической среды", "Index", "EGHGEA")
            </article>
            <article>
                @Html.ActionLink("EGHORT - Оптимальне технологии реабилитации", "Index", "EGHORT")
            </article>
        </section>

        <section>
           <article>
                @Html.ActionLink("EGHCCO - Химический состав нефтей", "Index", "EGHCCO")
           </article>
           <article>
                @Html.ActionLink("EGHCAI - Условия техногенной нагрузки", "Index", "EGHCAI")
           </article> 
        </section>
   </div>
   @RenderBody()
</body>
</html>
