
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>"Экспертная система [EGH] </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <link href="/content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="/content/site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-brand ">
                <img src="/content/Layout_Mobile_Whiteframe.png" alt="EGH1">
            </div>
            <ul class="navbar-nav nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-link"  data-toggle="dropdown" role="button" aria-expanded="false">Главное меню <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Прогноз", "Index", "EGHRGE")<!--EGHRGE - --></li>
                        <li>@Html.ActionLink("Соответствие качества сред", "Index", "EGHCEQ")<!--EGHCEQ - --></li>
                        <li>@Html.ActionLink("Оптимальные технологии реабилитации", "Index", "EGHORT")<!--EGHORT - --></li>
                        <li>@Html.ActionLink("Химический состав нефтей", "Index", "EGHCCO")<!--EGHCCO - --></li>
                        <li>@Html.ActionLink("Условия техногенной нагрузки", "Index", "EGHCAI")<!--EGHCAI - --></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="osnova">
        <div class=" container ">
            @RenderBody()
        </div>
    </div>
       <footer class="top-space">
        <div class="footer1">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <h3 class="widget-title">Контакты:</h3>
                        <div class="widget-body">
                            <p>
                                (8-017) 327 62 17<br>
                                (8-017) 327 63 75<br>
                                <a href="mailto:#">www.belstu.by</a><br>
                                БГТУ
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3">
                        
                    </div>

                    <div class="col-md-6">
                        <h3 class="widget-title">О проекте</h3>
                        <div class="widget-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>
    
    </footer>	
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
