
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>"Экспертная система [EGH] </title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>
    <link href="~/content/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="~/content/site.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-default  navbar-fixed-top">
        <div class="container">
            <div class="navbar-brand ">
                <a href="/"><img src="/content/Layout_Mobile_Whiteframe1.png" alt="EGH"/></a>
            </div>            
            <!--Главное меню-->
            <ul class="navbar-nav nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle btn btn-link" data-toggle="dropdown" role="button" aria-expanded="false">Главное меню <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("Прогноз",                                 "Index", "EGHRGE")  </li>
                        <li>@Html.ActionLink("Оценка результатов прогнозирования",      "Index", "EGHCEQ")  </li>
                        <li>@Html.ActionLink("Классификация прогнозируемого состояния", "Index", "EGHGEA")  </li>
                        <li>@Html.ActionLink("Технологии реабилитации",                 "Index", "EGHORT")  </li>
                        <li>@Html.ActionLink("Химический состав нефтей",                "Index", "EGHCCO")  </li>
                        <li>@Html.ActionLink("Техногенные объекты",                     "Index", "EGHCAI")  </li>

                    </ul>
                </li>
            </ul>
        </div>

</div>
    <div class="osnova">        
        <!--Заголовок индивидуальный для страниц-->
        <div class="container">
    @if (ViewBag.EGHLayout == "RGE")
    {
        <h2>Прогноз</h2>
        <span> @Html.ActionLink("Прогноз",                        "Index", "EGHRGE") </span>
        <span> @Html.ActionLink("Опорные точки",                  "Index", "EGHRGE") </span>
        <span> @Html.ActionLink("Природоохранные объекты",        "Index", "EGHRGE") </span>
        <span> @Html.ActionLink("Отчеты",                         "Index", "EGHRGE") </span>
        <span> @Html.ActionLink("Справочники",                    "Index", "EGHRGE") </span>
        <span> @Html.ActionLink("Типы инцидентов",                "Index", "EGHRGE") </span>   
        <span> @Html.ActionLink("Типы природоохранных объектов",  "Index", "EGHRGE") </span> 
        <span> @Html.ActionLink("Типы грунтов",                   "Index", "EGHRGE") </span>  
        <span> @Html.ActionLink("Категории земли",                "Index", "EGHRGE") </span>        
        <span> @Html.ActionLink("Коэффициент растекания",         "Index", "EGHRGE") </span>     
        
    }
    else if (ViewBag.EGHLayout == "CEQ")
    {
        <h2>Оценка результатов прогнозирования</h2>
        <span> @Html.ActionLink("Результаты прогнозирования", "Index", "EGHCEQ") </span>    
        <span> @Html.ActionLink("Оценка прогноза",            "Index", "EGHCEQ") </span>     
        <span> @Html.ActionLink("Отчеты",                     "Index", "EGHCEQ") </span>       
    }
    else if (ViewBag.EGHLayout == "GEA")
    {
        <h2>Классификация прогнозируемого состояния </h2>
        <span> @Html.ActionLink("Оценка прогноза",                         "Index", "EGHGEA") </span>    
        <span> @Html.ActionLink("Классификация прогнозируемого состояния", "Index", "EGHGEA") </span>     
        <span> @Html.ActionLink("Отчеты",                                  "Index", "EGHGEA") </span>         
    }
    else if (ViewBag.EGHLayout == "ORT")
    {
        <h2>Технологии реабилитации</h2>
        <span> @Html.ActionLink("Классификация прогнозируемого состояния", "Index", "EGHORT") </span>     
        <span> @Html.ActionLink("Технологии реабилитации",                 "Index", "EGHORT") </span> 
        <span> @Html.ActionLink("Отчеты",                                  "Index", "EGHORT") </span>     
        
        
    }
    else if (ViewBag.EGHLayout == "CCO")
    {
    <h2>EGHCCO - Химический состав нефтей   на оранжевую линию </h2>
    }
    else if (ViewBag.EGHLayout == "CAI")
    {
    <h2>EGHCAI - Условия техногенной нагрузки</h2>
    }
    


        </div>

        <!--Меню индивидуальное для страниц-->
       
            <div class=" container mainbody">
                @RenderBody()
            </div>
    </div>
    <footer class="top-space">
        <div class="footer1">
            <div class="container">
                <div class="row">

                    <div class="col-md-3">
                        <h3 class="widget-title">Контакты:</h3>
                        <div class="widget-body">
                            <p>
                                (8-017) 327 62 17<br>
                                (8-017) 327 63 75<br>
                                <a href="mailto:#">www.belstu.by</a><br>
                                БГТУ
                            </p>
                        </div>
                    </div>

                    <div class="col-md-3">

                    </div>

                    <div class="col-md-6">
                        <h3 class="widget-title">О проекте</h3>
                        <div class="widget-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Excepturi, dolores, quibusdam architecto voluptatem amet fugiat nesciunt placeat provident cumque accusamus itaque voluptate modi quidem dolore optio velit hic iusto vero praesentium repellat commodi ad id expedita cupiditate repellendus possimus unde?</p>
                        </div>
                    </div>

                </div> <!-- /row of widgets -->
            </div>
        </div>

    </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
            
           


     @*<div class=" container proverka1">
    @if (ViewBag.EGHLayout == "RGE")
    {
         @Html.ActionLink("Прогноз -- ",             "Index", "EGHRGE")
         @Html.ActionLink("Опорные точки",           "Index", "EGHRGE")
         @Html.ActionLink("Природоохранные объекты", "Index", "EGHGRE")
         <article>
             @Html.ActionLink("Справочники", "Index", "EGHGRE")
             @Html.ActionLink("---Типы инцидентов", "IncidentType", "EGHRGE")
         </article>


    }
    @if (ViewBag.EGHLayout == "CCO")
    {
       @Html.ActionLink("-Типы нефтепродуктов-", "PetrochemicalType", "EGHCCO")
    }

    @if (ViewBag.EGHLayout == "CAI")
    {
        @Html.ActionLink("---CAI", "RiskObject", "EGHCAI")

    }





        @Html.ActionLink("Прогноз -- ", "Index", "EGHRGE")
        @Html.ActionLink("Опорные точки", "Index", "EGHGRE")
        @Html.ActionLink("Оптимальные технологии реабилитации", "Index", "EGHGRE")
        @Html.ActionLink("Типы инцидентов", "Index", "EGHRGE")


        <div >
            <span id="spravochniki" onclick="$('#spravochniki_list').toggle();">Справочники</span>
            <ul id="spravochniki_list" style="display:none;">
                <li>@Html.ActionLink("---справочник 1", "IncidentType", "EGHRGE")</li>
                <li>@Html.ActionLink("---справочник 2", "IncidentType", "EGHRGE")</li>
                <li>@Html.ActionLink("---справочник 3", "IncidentType", "EGHRGE")</li>
                <li>@Html.ActionLink("---справочник 3", "IncidentType", "EGHRGE")</li>
            </ul>
        </div>

    </div>*@