@model EGH01.Controllers.EGHRGEController.InputDate

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EGHLayout.cshtml";
}

<h2>EGHRGE - Реабилитация геологической среды</h2>



 @ViewBag.msg
<section>
    <article>
        @Html.ActionLink("EGHRGE - Моделирование", "Report")
    </article>
    <article>
        @Html.ActionLink("EGHRGE - Отчет", "Report")
    </article>
</section>


  <section style="border: double; padding: 10px">
    <article>
        <h1>Входные данные</h1>
        <h5 >
            Дата происшествия
            @Html.TextBoxFor(m => m.DateIncident, new { type = "datetime-local" })
            
        </h5>
    </article>

    <article>
        <h5>
            Дата поступления сообщения
            @Html.TextBox("Дата", String.Format("{0:d}", @Model.DateMessage.ToString("dd/MM/yyyy HH:mm")), new { type = "datetime-local" })
        </h5>
    </article>

    <article>
        <h5>
            Тип происшествия
            @Html.DropDownList(@Model.TypeNNP2.ToString(), new SelectList(new[] { "Нефтепровод", "Резервуар Наземный", "Подземный резервуар", "Авто Транспорт", "Железнодорожный Транспорт" }))
        </h5>
    </article>

    <article>
        <h5>
           Расположение объекта:
            @Html.DropDownList("Область", new SelectList(new[] { "Область", "Минская", "Гомельская", "Витебская", "Могилевская", "Бреская","Гродненская" }))
            @Html.DropDownList("Район", new SelectList(new[] { "Район", "Пуховический", "Минский", "Могилеский" }))
            @Html.DropDownList("Объект", new SelectList(new[] { "Объект", "АЗС 28", "Нефтебаза", "Хранилище 4" }))
            <input type="button" value="Найти на карте" style="margin:10px" />
            <img src="~/Content/map.png" style="float:right"> 
      
        </h5>
        <h5>
            Координаты объекта:
        </h5>
        <style>
            #editors input[type='text'] {
                width: 58px;
            }
        </style>

        <h5>Широта:</h5>
        <h5>Градусы, °  Минуты, ′ секунды, " </h5>
        <h6 id="editors"> @Html.TextBoxFor(m => m.Coordlatitudedegr) ° @Html.TextBoxFor(m => m.Coordlatitudemin ) ′ @Html.TextBoxFor(m => m.Coordlatitudesec) "</h6>
        <h5>Долгота:</h5>
        <h5>Градусы, °  Минуты, ′ секунды, " </h5>
        <h6 id ="editors">@Html.TextBoxFor(m => m.Coordlongitudedegr) ° @Html.TextBoxFor(m => m.Coordlongitudemin) ′ @Html.TextBoxFor(m => m.Coordlongitudesec) "</h6>


   
</article>


     
      <article>
          <h5>
              Тип ННП
              @Html.DropDownList(@Model.TypeNNP2.ToString(), new SelectList(new[] {"Тип", "Нефть", "Бензин", "Мазут" }))
          </h5>
      </article>

    <article>
        <h5>
            Объем ННП
            @Html.TextBoxFor(m => Model.volumeNNP) (м3)
        </h5>
    </article>



    <article>
        <h5>
            Погодные условия.
            Температура: @Html.TextBox("Температура", @Model.Temp)
        </h5>
    </article>
    <input type="button" value="Рассчитать" style="margin:10px"  />
</section>

<section class="infodb" style="border: double; padding: 10px">
    <article>
        <h1>Информация из Базы Данных</h1>
    </article>


    <article>
        <fieldset>
            <legend>
                Характеристики объекта
            </legend>
            Паспортные данные объекта
          <h5> Тип объект: АЗС-28</h5>
          <h5> Хранит: Бензин,газ</h5>
          <h5> Расположениие: Минская область, г. Слуцк</h5>
          <h5> Дата открытия: 20.07.2010</h5>
</fieldset>
        <br />
        <fieldset>
            <legend>Точки для рассчёта</legend>
            <table border="1">
                <tr>
                    <th>Объект</th>
                    <th>Координаты</th>
                    <th>Высота</th>
                    <th>Мощность зоны аэрации</th>
                </tr>
                <tr>
                    <td>АЗС 28</td>
                    <td>55° 55'; 55° 55'</td>
                    <td>105 м</td>
                    <td>4 м</td>
                </tr>
                <tr>
                    <td>Колодец</td>
                    <td>55° 55'; 55° 55'</td>
                    <td>105 м</td>
                    <td>4 м</td>
                </tr>
                <tr>
                    <td>Проходная</td>
                    <td>55° 55'; 55° 55'</td>
                    <td>105 м</td>
                    <td>4 м</td>
                </tr>
            </table>
        </fieldset>
        <br />
        <fieldset>
            <legend>Характеристики ННП</legend>
            <h4>
                Бензин</h4>
    <h5> Плотность при 20 °С:  0,7 г/см3</h5>
    <h5>Вязкость кинематическая при 20 °С:  0,5 мм2/с </h5>
    <h5>Растворимость: 9,0 мг/дм3 </h5>
    <br />
</fieldset>
        <br />
        <fieldset>
            <legend>Климатические условия: </legend>
            <h5> Средняя температура: 2°С</h5>
            <h5> Почва промерзла при температуре 5°С</h5>
        </fieldset>
            </article>
</section>


    <section class="output" style="border: double; padding: 10px">

            <h5 style="float:right">20.09.2016 10:00</h5>
        <br />
            <h1>Результаты прогнозирования</h1>
        <article>
            <fieldset>
                <legend>Характеристики пятна загрязнения:</legend>
                <h5>Север:  Широта: 53° 53' Долгота: 53° 53' </h5>
                <h5>ЮГ:  Широта: 53° 53' Долгота: 53° 53' </h5>
                <h5>Запад:  Широта: 53° 53' Долгота: 53° 53' </h5>
                <h5>Восток:  Широта: 53° 53' Долгота: 53° 53' </h5>
                <h5>
                    Площадь пятна загрязнения: 105 га
                </h5>
                <h5>Радиус пятна загрязнения с грунтовыми водами: 200 м </h5>
            </fieldset>
            <h4>

            </h4>

        </article>
        <article>



        </article>

        <fieldset>


                <legend>Характеристика происшествия: </legend>


            @*<article>
                <h1>1. Загрязнения  поверхностного слоя почво-грунтов до 1м.</h1>
            </article>

            <article>
                <h1>2. Загрязнение зоны аэрации, не достигая грунтовых вод.</h1>

            </article>*@

            
                <h5> Загрязнение достигло грунтовых вод.</h5>
            <h5> Дата достижения грунтовых вод: 25.09.2016</h5>
            <h5> Концентрация: 300 мг/м3</h5>

            
        </fieldset>
        <fieldset>
            <legend>Природоохранные объекты</legend>
            <h5>
                Достигнуты по поверхности:
            </h5>
            <table border="1">
                <tr>
                    <th>Наименование</th>
                    <th>Координаты</th>
                    <th>Дата достижения</th>
                    <th>Концентрация</th>
                </tr>


                @foreach (var item in Model.TypeObj)
                {
                    <tr>
                        <td> @Html.ValueFor(m => item)</td>
                        <td> 53° 53', 53° 53'</td>
                        <td> 22.09.2016</td>
                        <td> 1000 мг/дм3</td>
                    </tr>
                }
            </table>



            <h5>
                Достигнуты с грунтовыми водами:
            </h5>
            <table border="1">
                <tr>
                    <th>Наименование</th>
                    <th>Координаты</th>
                    <th>Дата достижения</th>
                    <th>Концентрация</th>
                </tr>


                @foreach (var item in Model.TypeObj)
                {
                    <tr>
                        <td> @Html.ValueFor(m => item)</td>
                        <td> 53° 53', 53° 53'</td>
                        <td> 29.09.2016</td>
                        <td> 200 мг/дм3</td>
                    </tr>
                }
            </table>

        </fieldset>
        <form action="EvXML">
            <input type="submit" value="Сохранить отчёт" style="margin:10px">
        </form>
        
        
    </section>
