@model EGH01.Controllers.EGHRGEController.InputDate

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/EGHLayout.cshtml";
}

<h2>EGHRGE - Реабилитация геологической среды</h2>



 @ViewBag.msg
<section>
    <article>
        @Html.ActionLink("EGHRGE - Моделирование", "Report")
    </article>
    <article>
        @Html.ActionLink("EGHRGE - Отчет", "Report")
    </article>
</section>

  <section>
    <article>
        <h1>Входные данные</h1>
        <h5>
            Дата происшествия
            @Html.TextBox("Дата", String.Format("{0:d}", @Model.DateIncident.ToShortDateString()), new { type = "date" })
        </h5>
    </article>

      <article>
          <h5>
              Дата поступления сообщения
              @Html.TextBox("Дата", String.Format("{0:d}", @Model.DateMessage.ToShortDateString()), new { type = "date" })
          </h5>
      </article>

      <article>
          <h5>
              Тип происшествия
              @Html.DropDownList(@Model.TypeNNP2.ToString(), new SelectList(new [] { "Нефть", "Резервуар Наземный", "Подземный резервуар", "Авто Транспорт", "Железнодорожный Транспорт" }))
          </h5>
    </article>

    <article>
        <h5>
            Координаты объекта:
        </h5>
        <h5>Широна градусы @Html.TextBox("Дата", @Model.Coordlatitudedegr) ° Широна минуты @Html.TextBox("Дата", @Model.Coordlatitudemin) ′</h5>
        <h5>Долгота градусы @Html.TextBox("Дата", @Model.Coordlongitudedegr) ° Долгота минуты @Html.TextBox("Дата", @Model.Coordlongitudemin) ′</h5>
      </article>

      <article>
          <h5>
              Объем ННП(м3)
              @Html.TextBox("Объем", @Model.volumeNNP)
          </h5>
      </article>

      <article>
          <h5>
              Тип ННП
              @Html.DropDownList(@Model.TypeNNP2.ToString(), new SelectList(new[] { "Нефть", "Бензин", "Мазута" }))
          </h5>
      </article>

      <article>
          <h5>
              Погодные условия. Температура
              @Html.TextBox("Температура", @Model.Temp)
          </h5>
      </article>

      <article>
          <h5>
              Погодные условия. Влажность
              @Html.TextBox("Влажность", @Model.Humidity)
          </h5>
      </article>

      </section>


<section>
    <article>
        <h1>Выходные данные</h1>
        <h5>
            Дата составление отчета
        </h5>
            <hr>Здесь будет дата<hr>
       
    </article>

    <article>
        <h5>Площадь загрязненных земель
        </h5>
        <hr>Здесь будет значения площади<hr>
 
    </article>
    <article>
        <h2>
            Координаты границ:
        </h2>
        <h5>Север: Широна</h5> <hr>Здесь будет значения широты<hr>
        <h5>Долгота</h5> <hr>Здесь будет значения долготы<hr>
        <h5>ЮГ: Широна</h5> <hr>Здесь будет значения широты<hr>
        <h5>Долгота</h5> <hr>Здесь будет значения долготы<hr>
        <h5>Запад: Широна</h5> <hr>Здесь будет значения широты<hr>
        <h5>Долгота</h5> <hr>Здесь будет значения долготы<hr>
        <h5>Восток: Широна</h5> <hr>Здесь будет значения широты<hr>
        <h5>Долгота</h5> <hr>Здесь будет значения долготы<hr>
    </article>
    <article>
        <h5>Характеристика происшествия: </h5>
    </article>

    @*<article>
        <h1>1. Загрязнения  поверхностного слоя почво-грунтов до 1м.</h1>
    </article>

    <article>
        <h1>2. Загрязнение зоны аэрации, не достигая грунтовых вод.</h1>
       
    </article>*@

    <article>
        <h5> Загрязнение достигло грунтовых вод.</h5>
       <h5>Площадь загрязнения с грунтовыми водами </h5>
          <hr>Здесь будет значения площади<hr>
    </article>

    <article>
        <h5>Список природоохранных объектов:</h5>
        <h5>
            Природоохранняемые объекты по поверхности:
           
            @Html.DropDownList(@Model.TypeNNP2.ToString(), new SelectList(new[] { "Объект1", "Объект2", "Объект3" }))
        </h5>
    </article>
    <article>
        <h5>Список природоохранных объектов:</h5>
        <h5>
            Природоохранняемые объекты по грунтовым водам:

            @Html.DropDownList(@Model.TypeNNP2.ToString(), new SelectList(new[] { "Объект1", "Объект2", "Объект3" }))
        </h5>
    </article>
</section>